body {
  margin: 0; }

.main {
  width: 100%;
  overflow: hidden; }

.header .navbar {
  display: flex;
  width: 96%;
  padding: 0 20px 0 20px;
  margin: 0 auto;
  margin-top: 40px;
  box-sizing: border-box; }
  .header .navbar picture {
    width: 20%;
    margin-right: auto;
    margin-left: 20px; }
  .header .navbar .navbar_heads {
    display: flex; }
    .header .navbar .navbar_heads a {
      text-decoration: none; }
      .header .navbar .navbar_heads a h2 {
        font-size: 24px;
        font-family: "Oswald";
        font-weight: 400;
        color: #fff;
        line-height: 56px;
        margin: 0px 25px; }
        .header .navbar .navbar_heads a h2:hover {
          box-shadow: inset 0 -4px 0 0 #fff; }
  .header .navbar .popup_button {
    text-decoration: none;
    color: #000; }
    .header .navbar .popup_button h2 {
      position: relative;
      line-height: 2px;
      font-family: "Oswald"; }
      .header .navbar .popup_button h2 span:after {
        position: absolute;
        content: "\f0c9";
        font-family: FontAwesome;
        right: 10px;
        font-size: 30px; }

.header .header_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto; }
  .header .header_wrapper .header_title {
    width: 45%; }
    .header .header_wrapper .header_title h1 {
      font-size: 60px;
      font-family: "Oswald"; }
    .header .header_wrapper .header_title p {
      font-size: 20px;
      font-family: "Oswald";
      margin: 20px 0 50px 0; }
    .header .header_wrapper .header_title a {
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      font-family: "Oswald";
      padding: 10px 20px;
      background: #68b738; }
  .header .header_wrapper picture {
    width: 45%;
    margin-top: 40px; }

.header .header_background picture img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 45vw; }

.navbar_popup .mfp-close {
  position: absolute;
  top: -35px;
  left: 90%;
  width: 40px;
  height: 40px;
  padding: 0;
  background: white;
  color: #000 !important;
  font-size: 60px; }

.navbar_popup a {
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  line-height: 64px;
  color: #000;
  top: 9px;
  width: 100%;
  height: 68px;
  font-size: 20px;
  font-family: "Oswald";
  font-weight: 600;
  background: #fff; }
  .navbar_popup a:nth-child(1) {
    border-top: 1px solid #ccc; }

.mfp-content {
  top: -150px; }

.mfp-container {
  padding: 0 !important; }

.catalog {
  position: relative;
  top: 150px;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .catalog .catalog_slim, .catalog .catalog_pro {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 46%;
    background: #f2f2f2;
    padding: 40px;
    box-sizing: border-box; }
    .catalog .catalog_slim:before, .catalog .catalog_pro:before {
      position: absolute;
      content: "";
      background: #68b738;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      top: 50px;
      left: 50px; }
    .catalog .catalog_slim h2, .catalog .catalog_pro h2 {
      text-align: center;
      font-family: "Oswald";
      font-size: 36px;
      margin-bottom: 60px; }
    .catalog .catalog_slim p, .catalog .catalog_pro p {
      font-size: 16px;
      font-family: "Oswald";
      color: #444; }
    .catalog .catalog_slim a, .catalog .catalog_pro a {
      position: relative;
      text-decoration: none;
      color: #000;
      font-size: 20px;
      font-family: "Oswald";
      margin-top: auto; }
      .catalog .catalog_slim a:after, .catalog .catalog_pro a:after {
        position: absolute;
        content: "";
        top: 10px;
        left: 120px;
        background: url(../img/svg/right-arrow.svg) no-repeat;
        width: 30px;
        height: 12px; }
  .catalog .catalog_slim:after {
    position: absolute;
    content: "";
    background: url(../img/svg/cat-slim.svg) no-repeat;
    width: 70px;
    height: 100px;
    top: 40px;
    left: 65px; }
  .catalog .catalog_pro:after {
    position: absolute;
    content: "";
    background: url(../img/svg/cat-pro.svg) no-repeat;
    width: 135px;
    height: 55px;
    top: 65px;
    left: 20px; }

.how {
  position: relative;
  top: 140px;
  width: 80%;
  margin: 0 auto; }
  .how h2 {
    font-family: "Oswald";
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 0; }
  .how .how_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .how .how_wrapper .how_item {
      position: relative;
      max-width: 220px;
      margin-top: 50px; }
      .how .how_wrapper .how_item span {
        position: absolute;
        color: #f2f2f2;
        font-family: "Oswald";
        font-size: 250px;
        right: 0;
        top: -110px;
        z-index: -1; }
      .how .how_wrapper .how_item p {
        font-family: "Oswald";
        font-size: 16px;
        color: #444;
        padding-top: 100px;
        padding-bottom: 40px; }
      .how .how_wrapper .how_item:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
        background: #68b738; }
      .how .how_wrapper .how_item:after {
        position: absolute;
        content: "";
        top: 20px;
        left: 15px;
        width: 40px;
        height: 40px; }
      .how .how_wrapper .how_item:nth-child(1):after {
        background: url(../img/advantage-1.png) no-repeat 100%; }
      .how .how_wrapper .how_item:nth-child(2):after {
        background: url(../img/advantage-2.png) no-repeat 100%; }
      .how .how_wrapper .how_item:nth-child(3):after {
        background: url(../img/advantage-3.png) no-repeat 100%; }
      .how .how_wrapper .how_item:nth-child(4):after {
        background: url(../img/advantage-4.png) no-repeat 100%; }

.example {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 100px;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px; }
  .example .ex_text {
    width: 45%; }
    .example .ex_text h2 {
      font-size: 60px;
      font-family: "Oswald";
      font-weight: 400; }
    .example .ex_text p {
      font-size: 16px;
      font-family: "Oswald";
      color: #444; }
    .example .ex_text span {
      font-size: 16px;
      font-family: "Oswald";
      color: #444; }
    .example .ex_text h4 {
      font-family: "Oswald";
      font-size: 20px;
      font-weight: 400;
      margin-top: 20px;
      margin-bottom: 0; }
      .example .ex_text h4 span {
        font-family: "Oswald";
        font-size: 20px;
        font-weight: 400;
        margin-left: 30%;
        color: #000; }
    .example .ex_text .ex_day {
      margin-left: 40px; }
    .example .ex_text .ex_kilo, .example .ex_text .ex_day {
      position: relative;
      display: inline-block;
      width: 40%;
      height: 150px; }
      .example .ex_text .ex_kilo p, .example .ex_text .ex_day p {
        font-size: 30px;
        text-align: center;
        border: 1px solid #ccc;
        padding: 20px; }
    .example .ex_text .ex_kilo span {
      position: absolute;
      top: 92px;
      left: 50%;
      margin-left: -60px;
      background: #ffffff;
      padding: 10px; }
    .example .ex_text .ex_day span {
      position: absolute;
      top: 92px;
      left: 50%;
      margin-left: -70px;
      background: #ffffff;
      padding: 10px; }
  .example .ex_img {
    width: 45%;
    margin-top: auto; }
    .example .ex_img .ba-slider img {
      height: 400px;
      margin: auto; }
    .example .ex_img .ba-slider .resize {
      background: #fff; }
    .example .ex_img .ba-slider span.handle:after {
      position: absolute;
      content: "";
      top: -5px;
      border: 1px solid white;
      background: #fff;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin-left: -22px;
      box-shadow: 0 0 5px #333;
      z-index: 1; }
    .example .ex_img .ba-slider span.handle:before {
      position: absolute;
      content: "";
      border: 1px solid #68b738;
      border-radius: 50%;
      background: #68b738;
      top: 10px;
      left: -7px;
      width: 10px;
      height: 10px;
      z-index: 2; }
    .example .ex_img .ex_scroll {
      position: relative; }
      .example .ex_img .ex_scroll th {
        padding: 0 10px 0 10px; }
        .example .ex_img .ex_scroll th a {
          text-decoration: none;
          font-family: "Oswald";
          font-weight: 400;
          font-size: 20px;
          border-bottom: 1px solid #ccc;
          color: #000;
          cursor: pointer; }
      .example .ex_img .ex_scroll td {
        width: 100%;
        padding: 10px; }
        .example .ex_img .ex_scroll td span {
          display: block;
          width: 100%;
          background: #dcdcdc;
          height: 10px;
          border: 1px solid #dcdcdc;
          box-sizing: border-box;
          border-radius: 5px; }

.footer {
  position: relative;
  top: 100px;
  width: 100%;
  height: 80vh; }
  .footer .f_text {
    position: absolute;
    top: 120px;
    left: 100px;
    width: 500px;
    height: 150px;
    background: #fff;
    padding: 30px;
    box-sizing: border-box;
    z-index: 1; }
    .footer .f_text .h2 {
      display: inline-block;
      width: 40%;
      font-size: 20px;
      font-family: "Oswald";
      font-weight: 400;
      text-transform: uppercase; }
    .footer .f_text .p {
      display: inline-block;
      width: 40%;
      float: right;
      font-size: 16px;
      font-family: "Oswald";
      font-weight: 400; }
  .footer .f_map {
    width: 100%;
    height: 400px; }
  .footer .footer_wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .footer .footer_wrapper .footer_item:nth-child(2) {
      text-align: center; }
    .footer .footer_wrapper .footer_item:nth-child(3) {
      text-align: right; }
    .footer .footer_wrapper .footer_item {
      width: 30%;
      text-align: left; }
      .footer .footer_wrapper .footer_item a {
        text-decoration: none;
        color: #000;
        font-family: "Oswald";
        font-weight: 400;
        line-height: 56px;
        cursor: pointer; }
      .footer .footer_wrapper .footer_item h2 {
        font-size: 36px;
        font-weight: 800;
        color: #000;
        margin: 0; }
        .footer .footer_wrapper .footer_item h2 span {
          font-weight: 400; }
      .footer .footer_wrapper .footer_item .vk {
        display: inline-block;
        background: url(../img/svg/vk.svg) no-repeat;
        background-size: 100% 100%;
        width: 40px;
        height: 40px;
        margin: 10px; }
      .footer .footer_wrapper .footer_item .insta {
        display: inline-block;
        background: url(../img/svg/insta.svg) no-repeat;
        background-size: 100% 100%;
        width: 40px;
        height: 40px;
        margin: 10px; }
      .footer .footer_wrapper .footer_item .faceb {
        display: inline-block;
        background: url(../img/svg/fb.svg) no-repeat;
        background-size: 100% 100%;
        width: 40px;
        height: 40px;
        margin: 10px; }
      .footer .footer_wrapper .footer_item .htmlac {
        position: relative;
        padding-right: 60px;
        font-size: 24px;
        line-height: 56px; }
        .footer .footer_wrapper .footer_item .htmlac:after {
          position: absolute;
          content: "";
          top: 0;
          right: 0;
          background: url(../img/svg/htmlacademy.svg) no-repeat;
          background-size: 100% 100%;
          width: 50px;
          height: 50px; }

.header .navbar .navbar_heads_page2 {
  display: flex; }
  .header .navbar .navbar_heads_page2 a {
    text-decoration: none; }
    .header .navbar .navbar_heads_page2 a h2 {
      font-size: 24px;
      font-family: "Oswald";
      font-weight: 400;
      color: #000;
      line-height: 56px;
      margin: 0px 25px; }
      .header .navbar .navbar_heads_page2 a h2:hover {
        box-shadow: inset 0 -4px 0 0 #68b738; }

.shop_title {
  width: 80%;
  margin: 0 auto; }
  .shop_title h1 {
    font-size: 60px;
    font-family: "Oswald";
    font-weight: 400; }

.shop {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .shop .shop_item {
    background: #f2f2f2;
    padding: 40px;
    margin: 120px 0px 20px 0px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 250px; }
    .shop .shop_item picture {
      position: relative;
      height: 60px; }
      .shop .shop_item picture img {
        position: absolute;
        bottom: -10px;
        transform: translate(-50%); }
    .shop .shop_item h3 {
      font-size: 20px;
      font-family: "Oswald";
      font-weight: 400; }
    .shop .shop_item p, .shop .shop_item a {
      font-size: 16px;
      font-family: "Oswald";
      font-weight: 400; }
    .shop .shop_item p {
      color: #444;
      text-align: left;
      border-bottom: 1px solid #444; }
      .shop .shop_item p span {
        float: right; }
    .shop .shop_item a {
      text-decoration: none;
      color: #fff;
      padding: 15px 0;
      background: #68b738;
      margin-top: 20px; }
  .shop .shop_item_last {
    position: relative;
    border: 1px solid #f2f2f2;
    padding: 100px 40px 40px 40px;
    margin: 120px 0px 20px 0px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 250px; }
    .shop .shop_item_last:before {
      position: absolute;
      content: "";
      border: 1px solid #f2f2f2;
      width: 40px;
      top: 50px;
      left: 40%; }
    .shop .shop_item_last:after {
      position: absolute;
      content: "";
      border: 1px solid #f2f2f2;
      width: 40px;
      top: 50px;
      left: 40%;
      transform: rotate(90deg); }
    .shop .shop_item_last h3 {
      font-size: 20px; }
    .shop .shop_item_last p, .shop .shop_item_last a, .shop .shop_item_last h3 {
      font-size: 16px;
      font-family: "Oswald";
      font-weight: 400; }
    .shop .shop_item_last p {
      color: #444; }
    .shop .shop_item_last a {
      margin-top: auto;
      text-decoration: none;
      color: #fff;
      padding: 15px 0;
      background: #68b738;
      margin-top: 20px; }

.add .before-after {
  position: relative;
  font-size: 36px;
  font-family: "Oswald";
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  padding-left: 10%;
  box-sizing: border-box; }
  .add .before-after:before {
    position: absolute;
    content: "";
    border: 2px solid #68b738;
    width: 100%;
    bottom: 36%;
    margin-left: -102%; }
  .add .before-after:after {
    position: absolute;
    content: "";
    border: 2px solid #68b738;
    width: 100%;
    bottom: 36%;
    margin-left: 2%; }

.add .add_wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .add .add_wrapper .add_text {
    width: 70%;
    border-top: 1px solid #f2f2f2; }
    .add .add_wrapper .add_text .add_item {
      border-bottom: 1px solid #f2f2f2;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .add .add_wrapper .add_text .add_item h3, .add .add_wrapper .add_text .add_item p, .add .add_wrapper .add_text .add_item a {
        font-family: "Oswald";
        font-weight: 400; }
      .add .add_wrapper .add_text .add_item h3 {
        font-size: 20px;
        width: 30%;
        margin: auto 0; }
      .add .add_wrapper .add_text .add_item p {
        width: 30%;
        font-size: 16px;
        color: #858585;
        margin: auto; }
        .add .add_wrapper .add_text .add_item p span {
          float: right; }
      .add .add_wrapper .add_text .add_item a {
        width: 30%;
        text-align: center;
        text-decoration: none;
        color: #fff;
        padding: 10px;
        background: #68b738;
        margin: 15px;
        margin-right: 0; }
  .add .add_wrapper .add_img {
    position: relative; }
    .add .add_wrapper .add_img span {
      position: absolute;
      font-size: 16px;
      font-family: "Oswald";
      font-weight: 200;
      bottom: 50px;
      text-align: center;
      width: 170px;
      right: 0;
      left: 0;
      padding: 0 40px;
      color: #fff; }
    .add .add_wrapper .add_img:before {
      position: absolute;
      content: "";
      right: 0;
      left: 0;
      margin: 0 auto;
      top: 60px;
      background: url(../img/svg/gift.svg) no-repeat;
      width: 60px;
      height: 60px; }

.spring {
  position: relative;
  height: 40px; }

h1, h2, h3, p, span {
  font-family: "Oswald";
  font-weight: 400; }

.form_title, .name_w, .contacts, .comment, .checking {
  width: 80%;
  margin: 0 auto; }

.form_title h1 {
  font-size: 60px; }

.form_title p {
  font-size: 20px;
  width: 30%;
  margin-bottom: 60px; }

.name_w {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px; }
  .name_w .weight {
    width: 48%;
    box-sizing: border-box; }
    .name_w .weight label {
      display: block;
      width: 100%; }
      .name_w .weight label span {
        font-size: 20px; }
      .name_w .weight label input {
        padding: 15px 10px 10px 10px;
        border: 1px solid #f2f2f2;
        height: 20px;
        font-size: 24px; }
        .name_w .weight label input::placeholder {
          font-size: 20px; }
        .name_w .weight label input:focus::-webkit-input-placeholder {
          color: transparent; }
    .name_w .weight label:nth-child(1) input {
      width: calc(100% - 93px);
      margin-bottom: 30px; }
    .name_w .weight label:nth-child(2) input {
      width: calc(100% - 121px);
      margin-bottom: 30px; }
    .name_w .weight label:nth-child(3) input {
      width: calc(100% - 163px); }
  .name_w .radio {
    width: 48%;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    padding: 0 0 0 60px; }
    .name_w .radio label {
      display: block;
      margin: 25px 0; }
      .name_w .radio label input[type="radio"] {
        opacity: 0; }
      .name_w .radio label input[type="radio"]:checked + span:after {
        opacity: 1; }
      .name_w .radio label span {
        position: relative;
        font-size: 20px; }
        .name_w .radio label span:before {
          position: absolute;
          content: "";
          border: 1px solid #E8E1DC;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          top: -5px;
          left: -60px;
          background: #fff; }
        .name_w .radio label span:after {
          position: absolute;
          content: "";
          border: 1px solid #E8E1DC;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          top: 5px;
          left: -50px;
          background: #68b738;
          opacity: 0; }

.b-a {
  position: relative; }
  .b-a:before {
    position: absolute;
    content: "";
    border: 2px solid #68b738;
    bottom: 40%;
    width: 40%;
    margin-left: -42%; }
  .b-a:after {
    position: absolute;
    content: "";
    border: 2px solid #68b738;
    bottom: 40%;
    width: 100%;
    margin-left: 2%; }

.contacts h2 {
  font-size: 36px; }

.contacts label {
  width: 46%; }
  .contacts label span {
    position: relative;
    font-size: 20px; }
  .contacts label input {
    padding: 15px 10px 10px 10px;
    border: 1px solid #f2f2f2;
    height: 20px;
    font-size: 24px; }
    .contacts label input::placeholder {
      font-size: 20px; }
    .contacts label input:focus::-webkit-input-placeholder {
      color: transparent; }

.contacts label:nth-child(2) input {
  width: calc(50% - 135px); }

.contacts label:nth-child(2) .cont-icon:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 5px;
  right: 20px;
  background: url(../img/svg/mail.svg) no-repeat;
  background-size: 100%; }

.contacts label:nth-child(3) {
  float: right; }
  .contacts label:nth-child(3) input {
    width: calc(100% - 110px); }

.contacts label:nth-child(3) .cont-icon:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 5px;
  right: 20px;
  background: url(../img/svg/phone.svg) no-repeat;
  background-size: 100%; }

.comment h2 {
  font-size: 36px; }

.comment textarea {
  width: 100%;
  height: 160px;
  font-size: 20px;
  border: 1px solid #f2f2f2; }

.checking h2 {
  font-size: 36px;
  margin-bottom: 0; }

.checking .check_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .checking .check_wrap label {
    margin-top: 40px; }
    .checking .check_wrap label span {
      margin-left: 60px;
      font-size: 20px; }
    .checking .check_wrap label input[type="checkbox"] {
      opacity: 0; }
    .checking .check_wrap label input[type="checkbox"]:checked + span:after {
      opacity: 1; }
    .checking .check_wrap label span {
      position: relative; }
      .checking .check_wrap label span:before {
        position: absolute;
        content: "";
        border: 1px solid #f2f2f2;
        width: 40px;
        height: 40px;
        top: -5px;
        left: -60px; }
      .checking .check_wrap label span:after {
        position: absolute;
        content: "\f00c";
        font-family: FontAwesome;
        top: 5px;
        left: -50px;
        color: #68b738;
        opacity: 0; }

.checking p {
  margin-top: 40px; }
  .checking p input {
    background: #68b738;
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 15px;
    width: 50%; }
  .checking p span {
    font-size: 18px;
    color: #444;
    margin-left: 50px; }

@media (max-width: 1300px) {
  .catalog {
    top: 0; }
    .catalog .catalog_slim, .catalog .catalog_pro {
      padding: 20px; }
      .catalog .catalog_slim:before, .catalog .catalog_pro:before {
        top: 25px; }
      .catalog .catalog_slim h2, .catalog .catalog_pro h2 {
        font-size: 30px;
        padding-left: 50px;
        margin-bottom: 20px; }
    .catalog .catalog_slim:after {
      top: 15px; }
    .catalog .catalog_pro:after {
      top: 45px; }
  .how {
    top: 0; }
  .example {
    top: 0; }
    .example .ex_img .ba-slider img {
      height: 300px; }
  .footer {
    top: 10px; } }

@media (max-width: 1200px) {
  .header .navbar {
    padding: 0; }
    .header .navbar .navbar_heads a h2 {
      padding: 10px 0;
      font-size: 20px;
      margin: 0 10px; }
  .catalog .catalog_slim, .catalog .catalog_pro {
    width: 49%; }
    .catalog .catalog_slim h2, .catalog .catalog_pro h2 {
      padding-left: 60px; }
  .example {
    top: -80px; }
    .example .ex_text, .example .ex_img {
      width: 49%; }
  .footer {
    top: -50px; }
    .footer .f_text {
      left: 100px; } }

@media (max-width: 1100px) {
  .header .navbar .navbar_heads a h2 {
    font-size: 18px;
    margin: 0 5px; }
  .catalog .catalog_slim, .catalog .catalog_pro {
    width: 49%; }
    .catalog .catalog_slim h2, .catalog .catalog_pro h2 {
      padding-left: 100px; } }

@media (max-width: 1000px) {
  .header .navbar .navbar_heads a h2 {
    color: #000000; }
    .header .navbar .navbar_heads a h2:hover {
      box-shadow: inset 0 -2px 0 0 #68b738; }
  .header .header_wrapper .header_title {
    width: 80%;
    margin: 0 auto; }
  .header .header_wrapper picture {
    margin: 0 auto;
    width: 100%; }
    .header .header_wrapper picture img {
      position: relative;
      width: 100%;
      height: 100%;
      top: -50px;
      z-index: -1; }
  .catalog {
    margin-top: 0; }
    .catalog .catalog_slim:before, .catalog .catalog_pro:before {
      left: 25px; }
    .catalog .catalog_slim h2, .catalog .catalog_pro h2 {
      padding-left: 120px; }
    .catalog .catalog_slim:after {
      left: 35px; }
    .catalog .catalog_pro:after {
      left: 0; }
  .main_border {
    border-bottom: 1px solid #ccc; }
  .example .ex_text {
    width: 100%; }
    .example .ex_text .ex_kilo {
      width: 30%; }
    .example .ex_text .ex_day {
      width: 30%; }
    .example .ex_text h4 {
      margin-top: 20px;
      display: inline-block;
      width: 30%;
      text-align: right; }
      .example .ex_text h4 span {
        display: block; }
  .example .ex_img {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px; }
    .example .ex_img .ba-slider img {
      height: 500px; }
  .footer {
    top: -50px; }
    .footer .f_text {
      height: 150px;
      width: 400px;
      left: 40px; } }

@media (max-width: 900px) {
  .header .navbar {
    padding: 0; }
    .header .navbar .navbar_heads a h2 {
      padding: 5px 10px; }
  .catalog {
    width: 100%;
    padding: 20px;
    top: -50px;
    box-sizing: border-box; }
    .catalog .catalog_slim, .catalog .catalog_pro {
      width: 100%;
      margin-top: 20px;
      padding-right: 40%;
      padding-bottom: 40px; }
      .catalog .catalog_slim:before, .catalog .catalog_pro:before {
        left: auto;
        top: 50px;
        right: 50px;
        width: 160px;
        height: 160px; }
      .catalog .catalog_slim h2, .catalog .catalog_pro h2 {
        padding: 0;
        margin-right: auto; }
      .catalog .catalog_slim p, .catalog .catalog_pro p {
        margin-bottom: 40px; }
    .catalog .catalog_slim:after {
      top: 40px;
      left: auto;
      right: 70px;
      width: 120px;
      height: 180px;
      background-size: 100%; }
    .catalog .catalog_pro:after {
      top: 90px;
      left: auto;
      right: 30px;
      width: 220px;
      height: 90px;
      background-size: 100%; }
  .how {
    top: -80px; }
    .how .how_wrapper .how_item {
      margin: 50px auto 0 auto; } }

@media (min-width: 600px) and (max-width: 1000px) {
  .header_background {
    display: none; } }

@media (max-width: 800px) {
  .header .navbar {
    padding: 0;
    width: 100%; }
    .header .navbar .navbar_heads a h2 {
      font-size: 18px;
      padding: 3px 25px 3px 0; }
  .example {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box; }
    .example .ex_img {
      width: 100%; }
      .example .ex_img .ba-slider img {
        height: 500px; }
  .footer {
    top: -100px; }
    .footer .f_text {
      position: relative;
      width: auto;
      height: auto;
      top: auto;
      left: auto;
      padding: 50px; }
      .footer .f_text .p {
        text-align: right; }
    .footer .footer_wrapper {
      width: 100%;
      padding: 20px;
      box-sizing: border-box; }
      .footer .footer_wrapper .footer_item {
        width: 33%; }
        .footer .footer_wrapper .footer_item h2 {
          font-size: 26px; }
        .footer .footer_wrapper .footer_item .vk, .footer .footer_wrapper .footer_item .insta, .footer .footer_wrapper .footer_item .faceb {
          width: 25px;
          height: 25px;
          margin-top: 15px; }
        .footer .footer_wrapper .footer_item .htmlac {
          font-size: 18px;
          padding-right: 40px; }
          .footer .footer_wrapper .footer_item .htmlac:after {
            width: 30px;
            height: 30px; } }

@media (max-width: 700px) {
  .header .navbar .navbar_heads a h2 {
    padding: 3px 10px 3px 0; }
  .example .ex_text .ex_day {
    margin-left: 0; }
  .example .ex_text h4 {
    width: 38%; }
  .example .ex_img .ba-slider img {
    height: 400px; } }

@media (max-width: 600px) {
  .header .navbar {
    width: 95%;
    margin-top: 0;
    margin-bottom: 20px; }
    .header .navbar .popup_button {
      width: 100%;
      padding-top: 8px; }
      .header .navbar .popup_button h2 {
        text-align: center; }
    .header .navbar picture {
      margin-right: 0;
      width: 0;
      padding-top: 8px; }
    .header .navbar .navbar_heads {
      display: none; }
  .header .header_wrapper {
    width: 95%; }
    .header .header_wrapper .header_title {
      color: #fff;
      text-align: center;
      width: 100%; }
      .header .header_wrapper .header_title h1 {
        font-size: 36px;
        font-weight: 400;
        line-height: 36px;
        margin-top: 36px; }
      .header .header_wrapper .header_title p {
        font-size: 14px;
        font-weight: 400; }
      .header .header_wrapper .header_title a {
        position: relative;
        top: 280px;
        display: block;
        font-size: 18px;
        font-weight: 400;
        box-shadow: 2px 2px 5px #000;
        z-index: 1; }
    .header .header_wrapper picture img {
      z-index: 0; }
  .header .header_background picture img {
    top: 60px;
    width: 100%; }
  .catalog .catalog_slim:before, .catalog .catalog_pro:before {
    top: 20px;
    right: 20px; }
  .catalog .catalog_slim:after {
    top: 10px;
    right: 40px; }
  .catalog .catalog_pro:after {
    top: 60px;
    right: 0px; }
  .how {
    width: 94%; }
  .main_border {
    position: relative;
    top: -100px; }
  .example {
    top: -170px; }
    .example .ex_text h2 {
      font-size: 36px; }
    .example .ex_text p {
      font-size: 14px; }
    .example .ex_text span {
      font-size: 14px; }
    .example .ex_text h4 {
      width: 100%;
      font-size: 14px;
      text-align: center; }
      .example .ex_text h4 span {
        display: inline;
        margin-left: 10px;
        font-size: 14px; }
    .example .ex_text .ex_kilo p, .example .ex_text .ex_day p {
      font-size: 24px;
      padding: 10px; }
    .example .ex_text .ex_kilo {
      height: 90px; }
      .example .ex_text .ex_kilo span {
        font-size: 12px;
        padding: 5px;
        top: 66px;
        margin-left: -37px; }
    .example .ex_text .ex_day {
      height: 90px;
      float: right; }
      .example .ex_text .ex_day span {
        font-size: 12px;
        padding: 5px;
        top: 66px;
        margin-left: -50px; }
    .example .ex_img .ba-slider img {
      height: 350px; }
  .footer {
    top: -210px; } }

@media (max-width: 500px) {
  .navbar_popup .mfp-close {
    left: 88%; }
  .catalog {
    padding: 0;
    top: 10px; }
    .catalog .catalog_slim, .catalog .catalog_pro {
      padding: 20px; }
      .catalog .catalog_slim:before, .catalog .catalog_pro:before {
        width: 70px;
        height: 70px;
        top: 20px;
        left: 20px; }
      .catalog .catalog_slim h2, .catalog .catalog_pro h2 {
        font-size: 24px;
        text-align: center;
        margin: 20px 20px 20px 70px; }
      .catalog .catalog_slim p, .catalog .catalog_pro p {
        font-size: 14px; }
      .catalog .catalog_slim a, .catalog .catalog_pro a {
        padding-top: 20px;
        border-top: 1px solid #ccc;
        font-size: 16px; }
        .catalog .catalog_slim a:after, .catalog .catalog_pro a:after {
          top: 25px;
          left: 105px; }
    .catalog .catalog_slim:after {
      width: 55px;
      height: 80px;
      top: 15px;
      left: 30px; }
    .catalog .catalog_pro:after {
      width: 100px;
      height: 40px;
      top: 40px;
      left: 0px; }
  .how {
    top: 0; }
    .how h2 {
      font-size: 36px; }
    .how .how_wrapper .how_item {
      margin: 40px 0 20px 0;
      width: 100%;
      max-width: none; }
      .how .how_wrapper .how_item span {
        display: none; }
      .how .how_wrapper .how_item p {
        font-size: 14px;
        padding: 0 20px 0 100px;
        margin: 0; }
  .main_border {
    top: 60px; }
  .example {
    top: 0px;
    background: #f2f2f2;
    padding: 0 0 40px 0; }
    .example .ex_img .ba-slider img {
      height: 250px; }
    .example .ex_img .ba-slider .resize {
      background: #f2f2f2; }
    .example .ex_img .ba-slider span.handle:after {
      border: 1px solid transparent;
      box-shadow: 0 0 5px transparent;
      background: transparent; }
    .example .ex_img .ba-slider span.handle:before {
      top: 11px; }
    .example .ex_img .ex_scroll td {
      padding: 0; }
      .example .ex_img .ex_scroll td span {
        height: 18px;
        background: #ffffff;
        border: 1px solid #ccc;
        border-radius: 10px; }
    .example .ex_img .ex_scroll th a {
      border-bottom: 0px; }
    .example .ex_text {
      padding: 0 10px 0 10px; }
      .example .ex_text .ex_kilo, .example .ex_text .ex_day {
        width: 45%; }
      .example .ex_text .ex_kilo span, .example .ex_text .ex_day span {
        background: #f2f2f2; }
  .main_border {
    border: 0; }
  .footer {
    top: -50px; }
    .footer .f_text {
      padding: 20px; }
      .footer .f_text .h2, .footer .f_text .p {
        width: 49%; }
    .footer .footer_wrapper {
      flex-direction: column;
      padding: 0;
      background: #f2f2f2; }
      .footer .footer_wrapper .footer_item {
        width: 100%;
        text-align: center; }
      .footer .footer_wrapper .footer_item:nth-child(2) {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc; }
      .footer .footer_wrapper .footer_item:nth-child(3) {
        text-align: center; } }

@media (max-width: 400px) {
  .navbar_popup .mfp-close {
    left: 86%; }
  .example .ex_img .ba-slider img {
    height: 200px; } }

@media (min-width: 600px) {
  .popup_button, .navbar_popup {
    display: none; } }

@media (max-width: 1200px) {
  .spring {
    height: 90px; } }

@media (max-width: 1100px) {
  .add .add_wrapper .add_text {
    width: 65%; }
    .add .add_wrapper .add_text .add_item a {
      width: 25%; } }

@media (max-width: 1000px) {
  .add .add_wrapper .add_text {
    width: 100%; }
  .add .add_wrapper .add_img {
    width: 100%;
    margin-top: 30px; }
    .add .add_wrapper .add_img picture img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: 50% 66%; }
    .add .add_wrapper .add_img span {
      padding: 0 0 0 65%;
      bottom: 85px; }
    .add .add_wrapper .add_img:before {
      margin: 0 0 0 80px; } }

@media (max-width: 900px) {
  .header .navbar .navbar_heads_page2 a h2 {
    font-size: 18px;
    margin: 0 20px;
    line-height: 62px; } }

@media (max-width: 800px) {
  .shop .shop_item {
    margin: 120px 0px 20px 0px; }
  .shop .shop_item_last {
    margin: 120px 0px 20px 0px; }
  .add .before-after {
    padding-left: 6%; }
  .add .add_wrapper {
    width: 100%; }
    .add .add_wrapper .add_text {
      border: 0; }
      .add .add_wrapper .add_text .add_item {
        margin: 0 20px;
        border: 1px solid #f2f2f2; }
        .add .add_wrapper .add_text .add_item h3 {
          width: 45%;
          margin: 20px 0 0 20px; }
        .add .add_wrapper .add_text .add_item p {
          width: 45%;
          margin: 20px 20px 0 0; }
        .add .add_wrapper .add_text .add_item a {
          margin: 20px;
          width: 100%; } }

@media (max-width: 700px) {
  .header .navbar .navbar_heads_page2 a h2 {
    margin: 0 10px 0 0; }
  .shop .shop_item, .shop .shop_item_last {
    max-width: 200px; } }

@media (max-width: 600px) {
  .header .navbar .navbar_heads_page2 {
    display: none; }
  .mfp-content {
    top: 9px; }
  .shop_title {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    width: 100%; }
    .shop_title h1 {
      padding-left: 20px;
      margin: 10px 0;
      font-size: 36px; }
  .shop {
    justify-content: center; }
    .shop .shop_item {
      margin: 120px 20px 20px 20px; }
    .shop .shop_item_last {
      margin: 120px 20px 20px 20px; }
  .spring {
    height: 210px; } }

@media (max-width: 500px) {
  .shop {
    width: 100%; }
    .shop .shop_item {
      background: #ffffff;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: none;
      width: 100%;
      padding: 20px;
      margin: 0;
      border-top: 1px solid #f2f2f2; }
      .shop .shop_item picture {
        width: 40%; }
        .shop .shop_item picture img {
          position: relative;
          bottom: 0;
          transform: translate(0); }
      .shop .shop_item a {
        width: 100%;
        font-size: 16px; }
      .shop .shop_item p {
        font-size: 12px;
        border: 0; }
      .shop .shop_item h3 {
        font-size: 16px; }
    .shop .shop_item_last {
      background: #ffffff;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: none;
      width: 100%;
      padding: 20px;
      margin: 0;
      border-top: 1px solid #f2f2f2;
      border-bottom: 1px solid #f2f2f2; }
      .shop .shop_item_last .shop_text {
        width: 100%;
        text-align: center;
        margin-top: 60px; }
      .shop .shop_item_last a {
        width: 100%;
        background: #f2f2f2;
        color: #000; }
      .shop .shop_item_last:before {
        left: 45%; }
      .shop .shop_item_last:after {
        left: 45%; }
  .add .before-after {
    font-size: 24px; }
    .add .before-after:before {
      margin-left: -150%; }
  .add .add_wrapper .add_text {
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid #f2f2f2; }
    .add .add_wrapper .add_text .add_item {
      margin: 0;
      border: 0;
      border-bottom: 1px solid #f2f2f2; }
      .add .add_wrapper .add_text .add_item h3, .add .add_wrapper .add_text .add_item p, .add .add_wrapper .add_text .add_item a {
        margin-right: 0;
        margin-left: 0; }
      .add .add_wrapper .add_text .add_item h3 {
        width: 100%;
        font-size: 16px; }
      .add .add_wrapper .add_text .add_item p {
        width: 100%;
        font-size: 14px; }
  .add .add_wrapper .add_img {
    width: 90%;
    margin: 30px auto; }
    .add .add_wrapper .add_img picture img {
      object-fit: contain;
      height: auto; }
    .add .add_wrapper .add_img span {
      padding: 0 0 0 33%; }
    .add .add_wrapper .add_img:before {
      top: 100px;
      margin: 0 auto; }
  .spring {
    height: 30px; } }

@media (max-width: 400px) {
  .add .add_wrapper .add_img span {
    padding: 0 0 0 20%;
    bottom: 60px; }
  .add .add_wrapper .add_img:before {
    top: 60px; } }

@media (max-width: 1000px) {
  .contacts {
    margin-bottom: 100px; }
    .contacts label {
      width: 100%; }
    .contacts label:nth-child(2) input {
      width: calc(100% - 89px); }
    .contacts label:nth-child(3) input {
      width: calc(100% - 110px);
      margin-top: 20px; } }

@media (max-width: 800px) {
  .form_title p {
    width: 60%; }
  .name_w .weight, .name_w .radio {
    width: 100%; } }

@media (max-width: 600px) {
  .form_title, .name_w, .contacts, .comment, .checking {
    width: 100%; }
  .form_title h1 {
    font-size: 36px;
    padding-left: 20px;
    padding-right: 20px; }
  .form_title p {
    width: 100%;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box; }
  .name_w .weight label {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box; }
    .name_w .weight label span {
      font-size: 16px; }
    .name_w .weight label input {
      font-size: 16px; }
      .name_w .weight label input::placeholder {
        font-size: 16px; }
  .name_w .weight label:nth-child(1) input {
    width: calc(100% - 64px); }
  .name_w .weight label:nth-child(2) input {
    width: calc(100% - 86px); }
  .name_w .weight label:nth-child(3) input {
    width: calc(100% - 120px); }
  .name_w .radio {
    margin-top: 40px; }
    .name_w .radio label span {
      font-size: 16px; }
      .name_w .radio label span:before {
        top: -8px; }
      .name_w .radio label span:after {
        top: 2px; }
  .contacts {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box; }
    .contacts h2 {
      font-size: 24px; }
    .contacts label span {
      font-size: 16px; }
    .contacts label input {
      font-size: 16px; }
      .contacts label input::placeholder {
        font-size: 16px; }
  .b-a:before {
    border: 0; }
  .comment h2 {
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px; }
  .comment textarea {
    width: 94%;
    display: block;
    margin: 0 auto;
    box-sizing: border-box; }
    .comment textarea::placeholder {
      font-size: 16px; }
  .checking h2 {
    font-size: 24px;
    padding-left: 20px; }
  .checking .check_wrap {
    padding-left: 20px;
    padding-right: 20px; }
    .checking .check_wrap label {
      width: 45%; }
      .checking .check_wrap label span {
        margin-left: 40px;
        font-size: 16px; }
  .checking p input {
    margin-left: 20px;
    font-size: 16px; }
  .checking p span {
    font-size: 14px; } }

@media (max-width: 500px) {
  .checking .check_wrap label {
    width: 100%; }
  .checking p input {
    width: 94%;
    margin: 0 auto;
    display: block; }
  .checking p span {
    display: block;
    margin-top: 10px;
    margin-left: 0;
    text-align: center; } }

@media (max-width: 330px) {
  .contacts .b-a:after {
    bottom: 69%;
    margin-left: 15%; } }
