doctype html
html
		head
		meta(charset= "utf-8")
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet" href="../css/style.css")
		link(rel="stylesheet" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="../libs/magnific.css")
		link(rel="stylesheet" href="../libs/ba-slider.css")
		link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald")
		title Cat energy
		body
			.main
				.header
					.navbar
						picture
							source(media="(max-width: 600px)" srcset="../img/svg/logo-mobile.svg")
							source(media="(max-width: 800px)" srcset="../img/svg/logo-tablet.svg")
							img(src="../img/svg/logo-desktop.svg", alt="Logo")
						.navbar_heads_page2
							a(href="index.html")
								h2 ГЛАВНАЯ
							a(href="catalog.html")
								h2 КАТАЛОГ ПРОДУКЦИИ
							a(href="program.html")
								h2 ПОДБОР ПРОГРАММЫ
						a.popup_button(href="#popup_menu")
							h2 CAT 
								span ENERGY
									.mfp-close.mfp-hide
						.navbar_popup(id="popup_menu" class="mfp-hide")
							a(href="index.html") ГЛАВНАЯ
							a(href="catalog.html") КАТАЛОГ ПРОДУКЦИИ
							a(href="program.html") ПОДБОР ПРОГРАММЫ
				.shop_title
					h1 Каталог продукции
				.shop
					.shop_item
						picture
							source(media="(max-width: 600px)" srcset="../img/catalog-1-mobile.png")
							source(media="(max-width: 800px)" srcset="../img/catalog-1-tablet.png")
							img(src="../img/catalog-1-desktop.png", alt="bepeshka")
						.shop_text
							h3 CAT ENERGY PRO 500 Г
							p Объем
								span 500 г
							p Вкус
								span Курица
							p Цена
								span 700 р
						a(href="#") ЗАКАЗАТЬ
					.shop_item
						picture
							source(media="(max-width: 600px)" srcset="../img/catalog-2-mobile.png")
							source(media="(max-width: 800px)" srcset="../img/catalog-2-tablet.png")
							img(src="../img/catalog-2-desktop.png", alt="bepeshka")
						.shop_text
							h3 CAT ENERGY PRO 500 Г
							p Объем
								span 500 г
							p Вкус
								span Курица
							p Цена
								span 700 р
						a(href="#") ЗАКАЗАТЬ
					.shop_item
						picture
							source(media="(max-width: 600px)" srcset="../img/catalog-3-mobile.png")
							source(media="(max-width: 800px)" srcset="../img/catalog-3-tablet.png")
							img(src="../img/catalog-3-desktop.png", alt="bepeshka")
						.shop_text
							h3 CAT ENERGY PRO 500 Г
							p Объем
								span 500 г
							p Вкус
								span Курица
							p Цена
								span 700 р
						a(href="#") ЗАКАЗАТЬ
					.shop_item
						picture
							source(media="(max-width: 600px)" srcset="../img/catalog-4-mobile.png")
							source(media="(max-width: 800px)" srcset="../img/catalog-4-tablet.png")
							img(src="../img/catalog-4-desktop.png", alt="bepeshka")
						.shop_text
							h3 CAT ENERGY PRO 500 Г
							p Объем
								span 500 г
							p Вкус
								span Курица
							p Цена
								span 700 р
						a(href="#") ЗАКАЗАТЬ
					.shop_item
						picture
							source(media="(max-width: 600px)" srcset="../img/catalog-5-mobile.png")
							source(media="(max-width: 800px)" srcset="../img/catalog-5-tablet.png")
							img(src="../img/catalog-5-desktop.png", alt="bepeshka")
						.shop_text
							h3 CAT ENERGY PRO 500 Г
							p Объем
								span 500 г
							p Вкус
								span Курица
							p Цена
								span 700 р
						a(href="#") ЗАКАЗАТЬ
					.shop_item
						picture
							source(media="(max-width: 600px)" srcset="../img/catalog-6-mobile.png")
							source(media="(max-width: 800px)" srcset="../img/catalog-6-tablet.png")
							img(src="../img/catalog-6-desktop.png", alt="bepeshka")
						.shop_text
							h3 CAT ENERGY PRO 500 Г
							p Объем
								span 500 г
							p Вкус
								span Курица
							p Цена
								span 700 р
						a(href="#") ЗАКАЗАТЬ
					.shop_item
						picture
							source(media="(max-width: 600px)" srcset="../img/catalog-7-mobile.png")
							source(media="(max-width: 800px)" srcset="../img/catalog-7-tablet.png")
							img(src="../img/catalog-7-desktop.png", alt="bepeshka")
						.shop_text
							h3 CAT ENERGY PRO 500 Г
							p Объем
								span 500 г
							p Вкус
								span Курица
							p Цена
								span 700 р
						a(href="#") ЗАКАЗАТЬ
					.shop_item_last
						.shop_text
							h3 ПОКАЗАТЬ ЕЩЕ 100500 ТОВАРОВ
							p На самом деле вкусов гораздо больше!
						a(href="#") ПОКАЗАТЬ ВСЕ





				.footer
					.f_text
						.h2 Приглашаем к сотрудничеству диллеров!
						.p ул. Большая Коньшенная, д. 19/8 
							p Санкт-Петербург
					.f_map#map
						<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<ваш API-ключ>" type="text/javascript"></script>
					.footer_wrapper
						.footer_item
							a(href="#")
								h2 CAT 
									span ENERGY
						.footer_item
							a.vk(href="#")
							a.insta(href="#")
							a.faceb(href="#")
						.footer_item
							a.htmlac(href="#") HTML Academy

script(src="../js/jquery.min.js")
script(src="../js/magnific.js")
script(src="../js/common.js")


		