body 
	margin: 0

.main 
	width: 100%
	overflow: hidden

.header
	.navbar
		display: flex
		width: 96%
		padding: 0 20px 0 20px
		margin: 0 auto
		margin-top: 40px
		box-sizing: border-box
		picture
			width: 20%
			margin-right: auto
			margin-left: 20px
		.navbar_heads
			display: flex
			a 
				text-decoration: none
				h2 
					font-size: 24px
					font-family: "Oswald"
					font-weight: 400
					color: #fff
					line-height: 56px
					margin: 0px 25px
					&:hover
						box-shadow: inset 0 -4px 0 0 #fff
		.popup_button
			text-decoration: none
			color: #000
			h2 
				position: relative
				line-height: 2px
				font-family: "Oswald"
				span:after
					position: absolute
					content: "\f0c9"
					font-family: FontAwesome
					right: 10px
					font-size: 30px
	.header_wrapper
		display: flex
		flex-wrap: wrap
		width: 80%
		margin: 0 auto
		.header_title
			width: 45%
			h1 
				font-size: 60px
				font-family: "Oswald"
			p 
				font-size: 20px
				font-family: "Oswald"
				margin: 20px 0 50px 0
			a 
				color: #fff
				text-decoration: none
				font-size: 20px
				font-family: "Oswald"
				padding: 10px 20px
				background: #68b738
		picture
			width: 45%
			margin-top: 40px
	.header_background picture img
		position: absolute
		right: 0
		top: 0
		z-index: -1
		width: 45vw

.navbar_popup 
	.mfp-close
		position: absolute
		top: -35px
		left: 90%
		width: 40px
		height: 40px
		padding: 0
		background: white
		color: #000 !important
		font-size: 60px
	a
		position: relative
		display: block
		text-align: center
		text-decoration: none
		border-bottom: 1px solid #ccc
		line-height: 64px
		color: #000
		top: 9px
		width: 100%
		height: 68px
		font-size: 20px
		font-family: "Oswald"
		font-weight: 600
		background: #fff
		&:nth-child(1)
			border-top: 1px solid #ccc

.mfp-content
	top: -150px

.mfp-container
	padding: 0 !important

.catalog
	position: relative
	top: 150px
	width: 80%
	margin: 0 auto
	margin-top: 50px
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	.catalog_slim, .catalog_pro
		position: relative
		display: flex
		flex-direction: column
		width: 46%
		background: #f2f2f2
		padding: 40px
		box-sizing: border-box
		&:before
			position: absolute
			content: ""
			background: #68b738
			width: 90px
			height: 90px
			border-radius: 50%
			top: 50px
			left: 50px
		h2 
			text-align: center
			font-family: "Oswald"
			font-size: 36px
			margin-bottom: 60px
		p 
			font-size: 16px
			font-family: "Oswald"
			color: #444
		a 
			position: relative
			text-decoration: none
			color: #000
			font-size: 20px
			font-family: "Oswald"
			margin-top: auto
			&:after
				position: absolute
				content: ""
				top: 10px
				left: 120px
				background: url(../img/svg/right-arrow.svg) no-repeat
				width: 30px
				height: 12px
	.catalog_slim:after
		position: absolute
		content: ""
		background: url(../img/svg/cat-slim.svg) no-repeat
		width: 70px
		height: 100px
		top: 40px
		left: 65px
	.catalog_pro:after
		position: absolute
		content: ""
		background: url(../img/svg/cat-pro.svg) no-repeat
		width: 135px
		height: 55px
		top: 65px
		left: 20px

.how
	position: relative
	top: 140px
	width: 80%
	margin: 0 auto
	h2 
		font-family: "Oswald"
		font-size: 60px
		font-weight: 400
		margin-bottom: 0
	.how_wrapper
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		.how_item
			position: relative
			max-width: 220px
			margin-top: 50px
			span 
				position: absolute
				color: #f2f2f2 
				font-family: "Oswald"
				font-size: 250px
				right: 0
				top: -110px
				z-index: -1
			p 
				font-family: "Oswald"
				font-size: 16px
				color: #444
				padding-top: 100px
				padding-bottom: 40px
			&:before
				position: absolute
				content: ""
				top: 0
				left: 0
				width: 80px
				height: 80px
				background: #68b738
			&:after
				position: absolute
				content: ""
				top: 20px
				left: 15px
				width: 40px
				height: 40px
			&:nth-child(1):after
				background: url(../img/advantage-1.png) no-repeat 100%
			&:nth-child(2):after
				background: url(../img/advantage-2.png) no-repeat 100%
			&:nth-child(3):after
				background: url(../img/advantage-3.png) no-repeat 100%
			&:nth-child(4):after
				background: url(../img/advantage-4.png) no-repeat 100%

.example
	position: relative
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	top: 100px
	width: 80%
	margin: 0 auto
	margin-top: 50px
	margin-bottom: 50px
	.ex_text
		width: 45%
		h2 
			font-size: 60px
			font-family: "Oswald"
			font-weight: 400
		p 
			font-size: 16px
			font-family: "Oswald"
			color: #444
		span 
			font-size: 16px
			font-family: "Oswald"
			color: #444
		h4
			font-family: "Oswald"
			font-size: 20px
			font-weight: 400
			margin-top: 20px
			margin-bottom: 0
			span 
				font-family: "Oswald"
				font-size: 20px
				font-weight: 400
				margin-left: 30%
				color: #000
		.ex_day
			margin-left: 40px
		.ex_kilo, .ex_day
			position: relative
			display: inline-block
			width: 40%
			height: 150px
			p 
				font-size: 30px
				text-align: center
				border: 1px solid #ccc
				padding: 20px
		.ex_kilo span 
			position: absolute
			top: 92px
			left: 50%
			margin-left: -60px
			background: #ffffff
			padding: 10px
		.ex_day span
			position: absolute
			top: 92px
			left: 50%
			margin-left: -70px
			background: #ffffff
			padding: 10px
	.ex_img 
		width: 45%
		margin-top: auto
		.ba-slider 
			img
				height: 400px
				margin: auto
			.resize
				background: #fff
			span.handle
				&:after
					position: absolute
					content: ""
					top: -5px
					border: 1px solid white
					background: #fff
					border-radius: 50%
					width: 40px
					height: 40px
					margin-left: -22px
					box-shadow: 0 0 5px #333
					z-index: 1
				&:before
					position: absolute
					content: ""
					border: 1px solid #68b738
					border-radius: 50%
					background: #68b738
					top: 10px
					left: -7px
					width: 10px
					height: 10px
					z-index: 2
		.ex_scroll 
			position: relative
			th
				padding: 0 10px 0 10px
				a 
					text-decoration: none
					font-family: "Oswald"
					font-weight: 400
					font-size: 20px
					border-bottom: 1px solid #ccc
					color: #000
					cursor: pointer
			td 
				width: 100%
				padding: 10px
				span
					display: block
					width: 100%
					background: #dcdcdc
					height: 10px
					border: 1px solid #dcdcdc
					box-sizing: border-box
					border-radius: 5px

.footer
	position: relative
	top: 100px
	width: 100%
	height: 80vh
	.f_text
		position: absolute
		top: 120px
		left: 100px
		width: 500px
		height: 150px
		background: #fff
		padding: 30px
		box-sizing: border-box
		z-index: 1
		.h2 
			display: inline-block
			width: 40%
			font-size: 20px
			font-family: "Oswald"
			font-weight: 400
			text-transform: uppercase
		.p
			display: inline-block
			width: 40%
			float: right
			font-size: 16px
			font-family: "Oswald"
			font-weight: 400
	.f_map
		width: 100%
		height: 400px
	.footer_wrapper
		width: 80%
		margin: 0 auto
		padding: 50px
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		.footer_item:nth-child(2)
			text-align: center
		.footer_item:nth-child(3)
			text-align: right
		.footer_item
			width: 30%
			text-align: left
			a 
				text-decoration: none
				color: #000
				font-family: "Oswald"
				font-weight: 400
				line-height: 56px
				cursor: pointer
			h2 
				font-size: 36px
				font-weight: 800
				color: #000
				margin: 0
				span 
					font-weight: 400
			.vk
				display: inline-block
				background: url(../img/svg/vk.svg) no-repeat 
				background-size: 100% 100%
				width: 40px
				height: 40px
				margin: 10px
			.insta
				display: inline-block
				background: url(../img/svg/insta.svg) no-repeat
				background-size: 100% 100%
				width: 40px
				height: 40px
				margin: 10px
			.faceb
				display: inline-block
				background: url(../img/svg/fb.svg) no-repeat
				background-size: 100% 100%
				width: 40px
				height: 40px
				margin: 10px
			.htmlac
				position: relative
				padding-right: 60px
				font-size: 24px
				line-height: 56px
				&:after
					position: absolute
					content: ""
					top: 0
					right: 0
					background: url(../img/svg/htmlacademy.svg) no-repeat
					background-size: 100% 100%
					width: 50px
					height: 50px

// Page 2 Catalog.html /////////////////////////////////////////////////

.header
	.navbar
		.navbar_heads_page2
			display: flex
			a 
				text-decoration: none
				h2 
					font-size: 24px
					font-family: "Oswald"
					font-weight: 400
					color: #000
					line-height: 56px
					margin: 0px 25px
					&:hover
						box-shadow: inset 0 -4px 0 0 #68b738

.shop_title
	width: 80%
	margin: 0 auto
	h1 
		font-size: 60px
		font-family: "Oswald"
		font-weight: 400

.shop
	width: 80%
	margin: 0 auto
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	.shop_item
		background: #f2f2f2
		padding: 40px
		margin: 120px 0px 20px 0px
		text-align: center
		box-sizing: border-box
		display: flex
		flex-direction: column
		justify-content: space-between
		max-width: 250px
		picture
			position: relative
			height: 60px
			img 
				position: absolute
				bottom: -10px
				transform: translate(-50%)
		h3 
			font-size: 20px
			font-family: "Oswald"
			font-weight: 400
		p, a
			font-size: 16px
			font-family: "Oswald"
			font-weight: 400
		p 
			color: #444
			text-align: left
			border-bottom: 1px solid #444
			span 
				float: right
		a 
			text-decoration: none
			color: #fff
			padding: 15px 0
			background: #68b738
			margin-top: 20px
	.shop_item_last
		position: relative
		border: 1px solid #f2f2f2
		padding: 100px 40px 40px 40px
		margin: 120px 0px 20px 0px
		text-align: center
		box-sizing: border-box
		display: flex
		flex-direction: column
		justify-content: space-between
		max-width: 250px
		&:before
			position: absolute
			content: ""
			border: 1px solid #f2f2f2
			width: 40px
			top: 50px
			left: 40%
		&:after
			position: absolute
			content: ""
			border: 1px solid #f2f2f2
			width: 40px
			top: 50px
			left: 40%
			transform: rotate(90deg)
		h3 
			font-size: 20px
		p, a, h3
			font-size: 16px
			font-family: "Oswald"
			font-weight: 400
		p 
			color: #444
		a 
			margin-top: auto
			text-decoration: none
			color: #fff
			padding: 15px 0
			background: #68b738
			margin-top: 20px

.add
	.before-after 
		position: relative
		font-size: 36px
		font-family: "Oswald"
		font-weight: 400
		width: 100%
		overflow: hidden
		padding-left: 10%
		box-sizing: border-box
		&:before
			position: absolute
			content: ""
			border: 2px solid #68b738
			width: 100%
			bottom: 36%
			margin-left: -102%
		&:after
			position: absolute
			content: ""
			border: 2px solid #68b738
			width: 100%
			bottom: 36%
			margin-left: 2%
	.add_wrapper
		width: 80%
		margin: 0 auto
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		.add_text
			width: 70%
			border-top: 1px solid #f2f2f2
			.add_item
				border-bottom: 1px solid #f2f2f2
				display: flex
				flex-wrap: wrap
				justify-content: space-between
				h3, p, a
					font-family: "Oswald"
					font-weight: 400
				h3 
					font-size: 20px
					width: 30%
					margin: auto 0
				p 
					width: 30%
					font-size: 16px
					color: #858585
					margin: auto
					span 
						float: right
				a 
					width: 30%
					text-align: center
					text-decoration: none
					color: #fff
					padding: 10px
					background: #68b738
					margin: 15px
					margin-right: 0
		.add_img
			position: relative
			span 
				position: absolute
				font-size: 16px
				font-family: "Oswald"
				font-weight: 200
				bottom: 50px
				text-align: center
				width: 170px
				right: 0
				left: 0
				padding: 0 40px
				color: #fff
			&:before
				position: absolute
				content: ""
				right: 0
				left: 0
				margin: 0 auto
				top: 60px
				background: url(../img/svg/gift.svg) no-repeat
				width: 60px
				height: 60px

.spring 
	position: relative
	height: 40px

// Page 3 form.html /////////////////////////////////////////////////

h1, h2, h3, p, span 
	font-family: "Oswald"
	font-weight: 400

.form_title, .name_w, .contacts, .comment, .checking
	width: 80%
	margin: 0 auto

.form_title
	h1 
		font-size: 60px 
	p 
		font-size: 20px
		width: 30%
		margin-bottom: 60px
	
.name_w 
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin-bottom: 60px
	.weight 
		width: 48%
		box-sizing: border-box
		label 
			display: block
			width: 100%
			span 
				font-size: 20px
			input 
				padding: 15px 10px 10px 10px
				border: 1px solid #f2f2f2
				height: 20px
				font-size: 24px
				&::placeholder 
					font-size: 20px
				&:focus::-webkit-input-placeholder
					color: transparent
		label:nth-child(1) input
				width: calc(100% - 93px)
				margin-bottom: 30px
		label:nth-child(2) input
				width: calc(100% - 121px)
				margin-bottom: 30px
		label:nth-child(3) input
				width: calc(100% - 163px)
	.radio 
		width: 48%
		border: 1px solid #f2f2f2
		box-sizing: border-box
		padding: 0 0 0 60px
		label
			display: block
			margin: 25px 0
			input[type="radio"]
				opacity: 0
			input[type="radio"]:checked + span:after
				opacity: 1
			span
				position: relative
				font-size: 20px
				&:before
					position: absolute
					content: ""
					border: 1px solid #E8E1DC
					border-radius: 50%
					width: 40px
					height: 40px
					top: -5px
					left: -60px
					background: #fff
				&:after
					position: absolute
					content: ""
					border: 1px solid #E8E1DC
					border-radius: 50%
					width: 20px
					height: 20px
					top: 5px
					left: -50px
					background: #68b738
					opacity: 0

.b-a 
	position: relative
	&:before
		position: absolute
		content: ""
		border: 2px solid #68b738
		bottom: 40%
		width: 40%
		margin-left: -42%
	&:after
		position: absolute
		content: ""
		border: 2px solid #68b738
		bottom: 40%
		width: 100%
		margin-left: 2%

.contacts
	h2 
		font-size: 36px
	label 
		width: 46%
		span 
			position: relative
			font-size: 20px
		input
			padding: 15px 10px 10px 10px
			border: 1px solid #f2f2f2
			height: 20px
			font-size: 24px
			&::placeholder 
				font-size: 20px
			&:focus::-webkit-input-placeholder
				color: transparent
	label:nth-child(2) input
		width: calc(50% - 135px)
	label:nth-child(2) .cont-icon
		&:after 
			position: absolute
			content: ""
			width: 20px
			height: 20px
			top: 5px
			right: 20px
			background: url(../img/svg/mail.svg) no-repeat
			background-size: 100%
	label:nth-child(3)
		float: right
		input
			width: calc(100% - 110px)
	label:nth-child(3) .cont-icon
		&:after 
			position: absolute
			content: ""
			width: 20px
			height: 20px
			top: 5px
			right: 20px
			background: url(../img/svg/phone.svg) no-repeat
			background-size: 100%

		
.comment
	h2
		font-size: 36px
	textarea 
		width: 100%
		height: 160px
		font-size: 20px
		border: 1px solid #f2f2f2
	
.checking
	h2 
		font-size: 36px
		margin-bottom: 0
	.check_wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		label
			margin-top: 40px
			span 
				margin-left: 60px
				font-size: 20px
			input[type="checkbox"]
				opacity: 0
			input[type="checkbox"]:checked + span:after
				opacity: 1
			span
				position: relative
				&:before
					position: absolute
					content: ""
					border: 1px solid #f2f2f2
					width: 40px
					height: 40px
					top: -5px
					left: -60px
				&:after
					position: absolute
					content: "\f00c"
					font-family: FontAwesome
					top: 5px
					left: -50px
					color: #68b738
					opacity: 0
	p 
		margin-top: 40px
		input 
			background: #68b738
			border: none
			color: #fff
			font-size: 20px
			padding: 15px
			width: 50%
		span 
			font-size: 18px
			color: #444
			margin-left: 50px



@media (max-width: 1300px)
	.catalog
		top: 0
		.catalog_slim, .catalog_pro
			padding: 20px
			&:before
				top: 25px
			h2 
				font-size: 30px
				padding-left: 50px
				margin-bottom: 20px
		.catalog_slim:after
			top: 15px
		.catalog_pro:after
			top: 45px

	.how 
		top: 0

	.example 
		top: 0
		.ex_img .ba-slider img
			height: 300px

	.footer
		top: 10px

@media (max-width: 1200px)
	.header .navbar 
		padding: 0
		.navbar_heads a h2
			padding: 10px 0
			font-size: 20px
			margin: 0 10px

	.catalog
		.catalog_slim, .catalog_pro
			width: 49%
			h2 
				padding-left: 60px

	.example 
		top: -80px
		.ex_text, .ex_img
			width: 49%

	.footer
		top: -50px
		.f_text
			left: 100px

@media (max-width: 1100px)
	.header .navbar .navbar_heads a h2
		font-size: 18px
		margin: 0 5px

	.catalog
		.catalog_slim, .catalog_pro
			width: 49%
			h2 
				padding-left: 100px

@media (max-width: 1000px)
	.header 
		.navbar .navbar_heads a h2 
			color: #000000
			&:hover
				box-shadow: inset 0 -2px 0 0 #68b738
		.header_wrapper 
			.header_title
				width: 80%
				margin: 0 auto
			picture 
				margin: 0 auto
				width: 100%
				img
					position: relative
					width: 100%
					height: 100%
					top: -50px
					z-index: -1

	.catalog
		margin-top: 0
		.catalog_slim, .catalog_pro
			&:before
				left: 25px
			h2 
				padding-left: 120px
		.catalog_slim:after
			left: 35px
		.catalog_pro:after
			left: 0

	.main_border
		border-bottom: 1px solid #ccc

	.example 
		.ex_text 
			width: 100%
			.ex_kilo
				width: 30%
			.ex_day
				width: 30%
			h4 
				margin-top: 20px
				display: inline-block
				width: 30%
				text-align: right
				span 
					display: block
		.ex_img
			width: 90%
			margin: 0 auto
			margin-top: 50px
			.ba-slider img
				height: 500px

	.footer
		top: -50px
		.f_text
			height: 150px
			width: 400px
			left: 40px

@media (max-width: 900px)
	.header .navbar 
		padding: 0
		.navbar_heads
			a h2
				padding: 5px 10px

	.catalog
		width: 100%
		padding: 20px
		top: -50px
		box-sizing: border-box
		.catalog_slim, .catalog_pro
			width: 100%
			margin-top: 20px
			padding-right: 40%
			padding-bottom: 40px
			&:before
				left: auto
				top: 50px
				right: 50px
				width: 160px
				height: 160px
			h2 
				padding: 0
				margin-right: auto
			p
				margin-bottom: 40px
		.catalog_slim:after
			top: 40px
			left: auto
			right: 70px
			width: 120px
			height: 180px
			background-size: 100%
		.catalog_pro:after
			top: 90px
			left: auto
			right: 30px
			width: 220px
			height: 90px
			background-size: 100%

	.how
		top: -80px
		.how_wrapper .how_item
			margin: 50px auto 0 auto

@media (min-width: 600px) and (max-width: 1000px)
	.header_background
		display: none

@media (max-width: 800px)
	.header .navbar 
		padding: 0
		width: 100%
		.navbar_heads
			a h2
				font-size: 18px
				padding: 3px 25px 3px 0

	.example
		width: 100%
		padding-left: 20px
		padding-right: 20px
		box-sizing: border-box
		.ex_img
			width: 100%
			.ba-slider img
				height: 500px

	.footer
		top: -100px
		.f_text
			position: relative
			width: auto
			height: auto
			top: auto
			left: auto
			padding: 50px
			.p 
				text-align: right
		.footer_wrapper
			width: 100%
			padding: 20px
			box-sizing: border-box
			.footer_item
				width: 33%
				h2 
					font-size: 26px
				.vk, .insta, .faceb
					width: 25px
					height: 25px
					margin-top: 15px
				.htmlac 
					font-size: 18px
					padding-right: 40px
					&:after
						width: 30px
						height: 30px

@media (max-width: 700px)
	.header .navbar .navbar_heads a h2
		padding: 3px 10px 3px 0

	.example
		.ex_text
			.ex_day
				margin-left: 0
			h4 
				width: 38%
		.ex_img
			.ba-slider img
				height: 400px

@media (max-width: 600px)
	.header 
		.navbar 
			width: 95%
			margin-top: 0
			margin-bottom: 20px
			.popup_button
				width: 100%
				padding-top: 8px
				h2 
					text-align: center
			picture
				margin-right: 0
				width: 0
				padding-top: 8px
			.navbar_heads
				display: none
		.header_wrapper 
			width: 95%
			.header_title
				color: #fff
				text-align: center
				width: 100%
				h1 
					font-size: 36px
					font-weight: 400
					line-height: 36px
					margin-top: 36px
				p 
					font-size: 14px
					font-weight: 400
				a 
					position: relative
					top: 280px
					display: block
					font-size: 18px
					font-weight: 400
					box-shadow: 2px 2px 5px #000
					z-index: 1
			picture img 
				z-index: 0
		.header_background picture img
			top: 60px
			width: 100%

	.catalog
		.catalog_slim, .catalog_pro
			&:before
				top: 20px
				right: 20px
		.catalog_slim:after
			top: 10px
			right: 40px
		.catalog_pro:after
			top: 60px
			right: 0px

	.how
		width: 94%

	.main_border
		position: relative
		top: -100px

	.example
		top: -170px
		.ex_text
			h2 
				font-size: 36px
			p 
				font-size: 14px
			span 
				font-size: 14px
			h4
				width: 100%
				font-size: 14px
				text-align: center
				span
					display: inline
					margin-left: 10px
					font-size: 14px
			.ex_kilo, .ex_day
				p 
					font-size: 24px
					padding: 10px
			.ex_kilo 
				height: 90px
				span 
					font-size: 12px
					padding: 5px
					top: 66px
					margin-left: -37px
			.ex_day 
				height: 90px
				float: right
				span
					font-size: 12px
					padding: 5px
					top: 66px
					margin-left: -50px
		.ex_img
			.ba-slider
				img 
					height: 350px

	.footer
		top: -210px


@media (max-width: 500px)
	.navbar_popup .mfp-close
		left: 88%

	.catalog
		padding: 0
		top: 10px
		.catalog_slim, .catalog_pro
			padding: 20px
			&:before
				width: 70px
				height: 70px
				top: 20px
				left: 20px
			h2 
				font-size: 24px
				text-align: center
				margin: 20px 20px 20px 70px
			p 
				font-size: 14px
			a 
				padding-top: 20px
				border-top: 1px solid #ccc
				font-size: 16px
				&:after
					top: 25px
					left: 105px
		.catalog_slim:after
			width: 55px
			height: 80px
			top: 15px
			left: 30px
		.catalog_pro:after
			width: 100px
			height: 40px
			top: 40px
			left: 0px

	.how
		top: 0
		h2 
			font-size: 36px
		.how_wrapper
			.how_item
				margin: 40px 0 20px 0
				width: 100%
				max-width: none
				span 
					display: none
				p 
					font-size: 14px
					padding: 0 20px 0 100px
					margin: 0
				&:before
				&:after

	.main_border
		top: 60px

	.example
		top: 0px
		background: #f2f2f2
		padding: 0 0 40px 0
		.ex_img
			.ba-slider 
				img
					height: 250px
				.resize 
					background: #f2f2f2
				span.handle 
					&:after
						border: 1px solid transparent
						box-shadow: 0 0 5px transparent
						background: transparent
					&:before
						top: 11px
			.ex_scroll 
				td 
					padding: 0
					span 
						height: 18px
						background: #ffffff
						border: 1px solid #ccc
						border-radius: 10px
				th 
					a 
						border-bottom: 0px
		.ex_text
			padding: 0 10px 0 10px
			.ex_kilo, .ex_day
				width: 45%
			.ex_kilo span, .ex_day span
				background: #f2f2f2

	.main_border
		border: 0

	.footer
		top: -50px
		.f_text
			padding: 20px
			.h2, .p 
				width: 49%
		.footer_wrapper
			flex-direction: column
			padding: 0
			background: #f2f2f2
			.footer_item
				width: 100%
				text-align: center
			.footer_item:nth-child(2)
				border-top: 1px solid #ccc
				border-bottom: 1px solid #ccc
			.footer_item:nth-child(3)
				text-align: center

@media (max-width: 400px)
	.navbar_popup .mfp-close
		left: 86%

	.example .ex_img .ba-slider img
		height: 200px

@media (min-width: 600px)
	.popup_button, .navbar_popup
		display: none


// Page 2 Catalog.html /////////////////////////////////////

@media (max-width: 1200px)
	.spring
		height: 90px

@media (max-width: 1100px)
	.add
		.add_wrapper
			.add_text
				width: 65%
				.add_item
					a 
						width: 25%

@media (max-width: 1000px)
	.add
		.add_wrapper
			.add_text
				width: 100%
			.add_img
				width: 100%
				margin-top: 30px
				picture img
					width: 100%
					height: 200px
					object-fit: cover
					object-position: 50% 66%
				span 
					padding: 0 0 0 65%
					bottom: 85px
				&:before
					margin: 0 0 0 80px

@media (max-width: 900px)
	.header .navbar .navbar_heads_page2 a h2 
		font-size: 18px
		margin: 0 20px
		line-height: 62px

@media (max-width: 800px)
	.shop 
		.shop_item
			margin: 120px 0px 20px 0px
		.shop_item_last
			margin: 120px 0px 20px 0px

	.add
		.before-after 
			padding-left: 6%
		.add_wrapper
			width: 100%
			.add_text
				border: 0
				.add_item
					margin: 0 20px
					border: 1px solid #f2f2f2
					h3
						width: 45%
						margin: 20px 0 0 20px
					p 
						width: 45%
						margin: 20px 20px 0 0
					a 
						margin: 20px
						width: 100%

@media (max-width: 700px)
	.header .navbar .navbar_heads_page2 a h2
		margin: 0 10px 0 0

	.shop
		.shop_item, .shop_item_last
			max-width: 200px


@media (max-width: 600px)
	.header .navbar .navbar_heads_page2
		display: none
	
	.mfp-content
		top: 9px

	.shop_title
		border-top: 1px solid #f2f2f2
		border-bottom: 1px solid #f2f2f2
		width: 100%
		h1 
			padding-left: 20px
			margin: 10px 0
			font-size: 36px

	.shop
		justify-content: center
		.shop_item
			margin: 120px 20px 20px 20px
		.shop_item_last
			margin: 120px 20px 20px 20px

	.spring
		height: 210px


@media (max-width: 500px)
	.shop
		width: 100%
		.shop_item
			background: #ffffff
			flex-direction: row
			flex-wrap: wrap
			max-width: none
			width: 100%
			padding: 20px
			margin: 0
			border-top: 1px solid #f2f2f2
			picture 
				width: 40%
				img 
					position: relative
					bottom: 0
					transform: translate(0)
			a 
				width: 100%
				font-size: 16px
			p
				font-size: 12px
				border: 0
			h3 
				font-size: 16px
		.shop_item_last
			background: #ffffff
			flex-direction: row
			flex-wrap: wrap
			max-width: none
			width: 100%
			padding: 20px
			margin: 0
			border-top: 1px solid #f2f2f2
			border-bottom: 1px solid #f2f2f2
			.shop_text
				width: 100%
				text-align: center
				margin-top: 60px
			a 
				width: 100%
				background: #f2f2f2
				color: #000
			&:before
				left: 45%
			&:after 
				left: 45%

	.add
		.before-after 
			font-size: 24px
			&:before
				margin-left: -150%
		.add_wrapper
			.add_text
				width: 90%
				margin: 0 auto
				border-top: 1px solid #f2f2f2
				.add_item
					margin: 0
					border: 0
					border-bottom: 1px solid #f2f2f2
					h3, p, a 
						margin-right: 0
						margin-left: 0
					h3 
						width: 100%
						font-size: 16px
					p 
						width: 100%
						font-size: 14px
			.add_img
				width: 90%
				margin: 30px auto 
				picture img 
					object-fit: contain
					height: auto
				span 
					padding: 0 0 0 33%
				&:before
					top: 100px
					margin: 0 auto

	.spring
		height: 30px

@media (max-width: 400px)
	.add
		.add_wrapper
			.add_img
				span 
					padding: 0 0 0 20%
					bottom: 60px
				&:before
					top: 60px

// Page 3 form.html /////////////////////////////////////


@media (max-width: 1000px)
	.contacts
		margin-bottom: 100px
		label 
			width: 100%
		label:nth-child(2) input
			width: calc(100% - 89px)
		label:nth-child(3) input
			width: calc(100% - 110px)
			margin-top: 20px
	
@media (max-width: 800px)
	.form_title
		p 
			width: 60%

	.name_w
		.weight, .radio
			width: 100%

@media (max-width: 600px)
	.form_title, .name_w, .contacts, .comment, .checking
		width: 100%

	.form_title
		h1 
			font-size: 36px
			padding-left: 20px
			padding-right: 20px
		p 
			width: 100%
			font-size: 16px
			padding-left: 20px
			padding-right: 20px
			box-sizing: border-box


	.name_w
		.weight
			label
				padding-left: 20px
				padding-right: 20px
				box-sizing: border-box
				span 
					font-size: 16px
				input
					font-size: 16px
					&::placeholder
						font-size: 16px
			label:nth-child(1) input
				width: calc(100% - 64px)
			label:nth-child(2) input
				width: calc(100% - 86px)
			label:nth-child(3) input
				width: calc(100% - 120px)
		.radio 
			margin-top: 40px
			label span 
				font-size: 16px
				&:before
					top: -8px
				&:after
					top: 2px

	.contacts
		padding-left: 20px
		padding-right: 20px
		box-sizing: border-box
		h2 
			font-size: 24px
		label 
			span 
				font-size: 16px
			input
				font-size: 16px
				&::placeholder
					font-size: 16px

	.b-a 
		&:before
			border: 0

	.comment
		h2 
			font-size: 24px
			padding-left: 20px
			padding-right: 20px
		textarea
			width: 94%
			display: block
			margin: 0 auto
			box-sizing: border-box
			&::placeholder
				font-size: 16px

	.checking
		h2 
			font-size: 24px
			padding-left: 20px
		.check_wrap
			padding-left: 20px
			padding-right: 20px
			label
				width: 45%
				span
					margin-left: 40px
					font-size: 16px
		p 
			input 
				margin-left: 20px
				font-size: 16px
			span 
				font-size: 14px

@media (max-width: 500px)
	.checking 
		.check_wrap label
			width: 100%
		p 
			input 
				width: 94%
				margin: 0 auto
				display: block
			span 
				display: block
				margin-top: 10px
				margin-left: 0
				text-align: center

@media (max-width: 330px)
	.contacts
		.b-a
			&:after
				bottom: 69%
				margin-left: 15%

	